.chat-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 50px;
	margin-right: 50px;
}

.chat-wrapper {
	height: 100%;
	background-color: #eae1ff;
	color: #212121e5;
	display: grid;
	grid-template-rows: 6% 88% 6%;
	grid-template-columns: 100%;
	justify-content: center;
  }

@media all and (max-width: 590px) {
	.chatContainer {
		margin-left: 20px;
		margin-right: 20px;
	}
}