.chat-header {
  display: flex;
	flex-direction: column;
  grid-template-columns: 10px 50px 20px;
  align-content: space-around;
	flex-wrap: wrap;
  position: fixed;
	height: 40px;
	top: 0px;
	left: 0px;
	right: 0px;
	margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #5C4A85;
	font-size: 18px;
	color: #DFD1FF;
	border-radius: 5px;
  }
  
  .chat-info{
    display: flex;
	  flex-direction: row;
  }

  .chat-info span{
    margin-right: 15px;
  }
  
 
 