.message-input{
    background: #5C4A85;
	border: none;
	border-radius: 5px;
	padding: 0 10px 0 10px;
	margin-bottom: 20px;
}

.message-input-text{
    display: flex;
	flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.text-area {
    border-radius: 10px;
    height: 50px;
}

 input{
    width: 95%;
    font-size: 15px;
}

.message-input-button {
    float: right;
    width: 100px;
    height: 40px;
    background-color: #DFD1FF;
    border-radius: 10px;
    margin: 10px 30px;
}

.message-input-button:hover{
    background-color: #A985FF;
}

.send{
		font-size: 20px;
		display: inline-block;
		margin-left: -6px;
}
