.edit-message-modal {
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-shown {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border-radius: 5px;
  padding: 0;
  border: 1px solid #554280;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .modal-header {
  padding: 5px 16px;
  background-color: #5C4A85;
  color: white;
   font-weight: 500;
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2px 16px;
    margin: 20px 10px;
    color: white;
  }
  
  .edit-text-area {
    border-radius: 5px;
    border: 1px solid #554280;
    padding: 5px;
  }
  .edit-text-area{
  max-height: 100px;     
  height: 50px;
  resize: both; 
  overflow: auto;
  }
  
  .edit-message-close {
    width: 30%;
    height: 30%;
    background-color: #876ACC;
    border: 1px solid #554280;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
  }
  
  .edit-message-close:hover {
    background-color: #554280;
  }
  
  
  .edit-message-button {
    width: 30%;
    height: 30%;
    margin-right: 20px;
    background-color: #876ACC;
    border: 1px solid #554280;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
  }
  .edit-message-button:hover {
    background-color: #554280;
  }
  
